<!DOCTYPE html>
{% macro pagination(url, page) %}
<ul class="uk-pagination">
    {% if page.has_previous %}
    <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
    {% else %}
    <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
    {% endif %}
    <li class="uk-active"><span>{{ page.page_index }}</span></li>
    {% if page.has_next %}
    <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
    {% else %}
    <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
    {% endif %}
</ul>
{% endmacro %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Test users - Awesome Python Webapp</title>
</head>
<body>
    <h1>All users</h1>
    {% for u in users %}
    <p>{{ u.name }} / {{ u.email }} / {{ u.admin }}</p>
    {% endfor %}
    <p>{{ user_count }}</p>
</body>
</html>